@import "./reset.scss";
html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0;
  font: 400 18px/24px 'Roboto Mono', sans-serif;
  background: url('../img/bg.gif') #000;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    border-bottom: dashed inherit 2px;
  }
}

.blink {
  animation: blink .7s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}